body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
}

.app-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.general-video-options-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 400px;
  height: 60%;
  margin-bottom: 10px;
  padding: 2px;
}

.video-view{
  display: flex;
  aspect-ratio: 16 / 9;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.empty-video-container{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border-width: 2px;
  border-style: dashed;
  border-color: #7A7A7A;
  width:  100%;
  height: 100%;
  transition: background-color 0.2s ease;
}

.empty-video-container:hover {
  background-color: #E0E0E0;
  cursor: pointer;
}

.selected-video-container{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: black;
  border-radius: 5px;
}

.video-crop-canvas{
  position: absolute;
}

video{
  max-width: 100%;
  max-height: 100%;
  border: 1px dashed rgba(136, 136, 136, 0.5);
}

.ffmpeg-not-downloaded{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #3d3d3d;
  text-align: center;
  color: #c2bfbf;
  font-size: 25px;
}

.edit-segment{
  margin-top: 10px;
  width: 100%;
}

.edit-segment-toggle{
  margin: 5px;
}

.segment-toggles{
  display: flex;
}

.edit-segment-body{
  height: auto;
  margin-top: 10px;
  padding: 10px;
}